.App {
  border: 3px solid blue;
  color:rgb(0, 85, 165);
  background-color: rgb(172, 206, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding: 15px;
  margin: 15px;
}
